h1 {{::text.upcoming}}
div(ng-repeat='match in matches | orderBy:"kickOffAt"')
	
	div.panel.panel-default.inline.col-md-3.match.text-center(ng-click='loadMatch(match.id)')
		div.pull-right{{::match.kickOffAt}}
		hr
		div.panel-body.no-padding
			.col-md-4.text-left
				img.img-small(ng-src="assets/img/teams/{{::match.teamA.slug}}.png")
				strong{{::match.teamA.name}}
			.col-md-4
				strong vs
			.col-md-4.text-right
				img.img-small(ng-src="assets/img/teams/{{::match.teamB.slug}}.png")
				strong {{::match.teamB.name}}
		div {{::match.venue}}
