
.form.text-center
	.form-group
		label(for="1") First field
		input.form-control(id="1", placeholder="First field")
	.form-group
			label(for="2") Second field
			input.form-control(id="2", placeholder="Second field")
	.form-group
		label(for="3") Third field
		input.form-control(id="3", placeholder="Thirs field")
	.form-group
			label(for="4") Fourth field
			input.form-control(id="4", placeholder="Fourth field")
	button.btn.btn-default(type="submit") {{::text.submit}}