mixin matchs
	.row
		.home-item
			.col-md-6.panel.panel-default
				.panel-body
					.img-responsive.home-item-image Image
			.col-md-6.home-item-description
				h2 Title
				h3 Subtitle
				div Abstract
	.row
		.home-item
			.col-md-6.home-item-description
				h2 Title
				h3 Subtitle
				div Abstract
			.col-md-6.panel.panel-default
				.panel-body
					.img-responsive.home-item-image Image.row
	.row
		.home-item
			.col-md-6.panel.panel-default
				.panel-body
					.img-responsive.home-item-image Image
			.col-md-6.home-item-description
				h2 Title
				h3 Subtitle
				div Abstract
	.row
		.home-item
			.col-md-6.home-item-description
				h2 Title
				h3 Subtitle
				div Abstract
			.col-md-6.panel.panel-default
				.panel-body
					.img-responsive.home-item-image Image