mixin teamMembers
	.row.home-item
		h2 This is the teamMembers
		div Lorem ipsum....
		.col-md-1
		.col-md-2
			.panel.panel-default.home-teamMembers
				.panel-body
					.home-item-image
						div image
			.home-teamMembers-name.text-center
				div Say my name


		.col-md-2
			.panel.panel-default.home-teamMembers
				.panel-body
					.home-item-image
						div image
			.home-teamMembers-name.text-center
				div Say my name


		.col-md-2
			.panel.panel-default.home-teamMembers
				.panel-body
					.home-item-image
						div image
			.home-teamMembers-name.text-center
				div Say my name


		.col-md-2
			.panel.panel-default.home-teamMembers
				.panel-body
					.home-item-image
						div image
			.home-teamMembers-name.text-center
				div Say my name


		.col-md-2
			.panel.panel-default.home-teamMembers
				.panel-body
					.home-item-image
						div image
			.home-teamMembers-name.text-center
				div Say my name

