mixin tweets
	.row.home-item
		h3 This is the tweets title
	.tweets
		.row
			.col-md-2
			.col-md-1.panel.panel-default
				.panel-body
					.img-responsive.tweets-image Image
			.col-md-2.tweets-description
				h4 Title
				h5 Subtitle
				div Abstract
			.col-md-1
			.col-md-1.panel.panel-default
				.panel-body
					.img-responsive.tweets-image Image
			.col-md-2.tweets-description
				h4 Title
				h5 Subtitle
				div Abstract
		.row
			.col-md-2
			.col-md-1.panel.panel-default
				.panel-body
					.img-responsive.tweets-image Image
			.col-md-2.tweets-description
				h4 Title
				h5 Subtitle
				div Abstract
			.col-md-1
			.col-md-1.panel.panel-default
				.panel-body
					.img-responsive.tweets-image Image
			.col-md-2.tweets-description
				h4 Title
				h5 Subtitle
				div Abstract