mixin header
    .navbar.navbar-inverse.navbar-fixed-top(ng-show="displayToolbar",role='navigation',ng-controller="HeaderController")
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#home') {{ ::text.appTitle }}
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li(ui-sref="home",ui-sref-active="active")
                    a(href='#home') {{ ::text.leftMenu.home}}
                li(ui-sref="about", ui-sref-active="active")
                    a(href='#about') {{ ::text.leftMenu.about}}
                li(ui-sref="testimonials",ui-sref-active="active")
                    a(href='#testimonials') {{ ::text.leftMenu.testimonials}}
                li(ui-sref="blog",ui-sref-active="active")
                    a(href='#blog') {{ ::text.leftMenu.blog}}
                li(ui-sref="contact",ui-sref-active="active")
                    a(href='#contact') {{ ::text.leftMenu.contact}}
                li(ui-sref="calendar",ui-sref-active="active")
                    a(href='#calendar') {{ ::text.leftMenu.calendar}}
                li(ui-sref="mygroups",ui-sref-active="active")
                    a(href='#mygroups') {{ ::text.leftMenu.mygroups}}
                li(ui-sref="me",ui-sref-active="active")
                    a(href='#me') {{ ::text.leftMenu.me}}
                li(ui-sref="bet",ui-sref-active="active")
                    a(href='#bet') {{ ::text.leftMenu.bet}}
                li(ui-sref="help",ui-sref-active="active")
                    a(href='#help') {{ ::text.leftMenu.help}}

            ul.nav.navbar-nav.navbar-right
                li(ui-sref="signin")
                    a(href="signin") {{ ::text.rightMenu.signin }}
                li(ui-sref="signup")
                    a(href="signup") {{ ::text.rightMenu.signup }}
                li.dropdown(dropdown="")
                    a.dropdown-toggle(dropdown-toggle="")
                        span.glyphicon.glyphicon-user
                        span.dropdown-title {{ ::text.rightMenu.profile }}
                    ul.dropdown-menu
                        li
                            a(href="#profile-management") {{ ::text.rightMenu.settings }}
                        li
                            a(href="#files-management")
                                span.glyphicon.glyphicon-file
                                span {{ ::text.rightMenu.files }}
                li.dropdown(dropdown="")
                    a.dropdown-toggle(dropdown-toggle="")
                        span.glyphicon.glyphicon-question-sign
                    ul.dropdown-menu
                        li
                            a(href="#help") {{ ::text.rightMenu.help }}
                        li
                            a(href="#about") {{ ::text.rightMenu.about }}