
.row
	.col-md-2
	.col-md-8
		.panel.panel-default.text-center
			div{{::match.kickOffAt}}
			div{{::match.stopBetsAt}}
			div{{::match.venue}}
			hr
			div.panel-body
				.col-md-5
					img
					div{{::match.teamA.name}}
					input(type="number",placeholder='Bet for team {{match.teamA.name}}', ng-model='betA')
				.col-md-2
					div VERSUS
					button.btn.btn-default(ng-click='setBet(match.id,betA,betB,user)') Bet !
					h6 Importance coeff:  {{match.importance}}
				.col-md-5
					img
					div{{::match.teamB.name}}
					input(type="number",placeholder='Bet for team {{match.teamB.name}}', ng-model='betB')


			

